**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/bin
**/charts
**/build.ps1
**/buildAndDeploy.ps1
**/delete.ps1
**/migrate.ps1
**/run.ps1
**/skaffold.yaml
**/docker-compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
LICENSE
README.md

buildAndDeployMegajobs.ps1
buildAndDeployMegajobsWithDependencies.ps1
buildMegajobs.ps1
deleteMegajobs.ps1
deleteMegajobsWithDependencies.ps1
